<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buckle My Shoei</title>
</head>
<body>
    <h1>Buckle My Shoe</h1>
    <h2>Enter a number 1-10 to see what you should do!</h2>
    <form method = "post" action = "/">
        <label> Number:<input type="number" name="number"></label>
        <button type="submit">Go</button>
        <% if (message) { %>
            <p class="result"><%=message %></p>
        <% } %>    
    </form>
    
</body>
</html>